<link rel="import" href="../../polymer/polymer.html">
<dom-module id="arguments-comp">
    <template>
        <style>
            blockquote{
                border: 1px solid #eeeeee;
                padding: 10px;
                background-color: #f5f5f5;
            }
        </style>

        <h1>"arguments-comp" component</h1>

        <p>Current route arguments (taken from attached `uiRouterTransition` object)</p>
        <blockquote>[[currentParams]]</blockquote>
    </template>

    <script>

        class ArgumentsComp extends Polymer.Element {
            static get is() { return 'arguments-comp'; }
            static get properties() {
                return {
                    currentParams: Object,
                    uiRouterTransition: Object
                }
            }

            connectedCallback(){
                super.connectedCallback();
                this.currentParams = JSON.stringify(this.uiRouterTransition.params());
            }
        }
        customElements.define(ArgumentsComp.is, ArgumentsComp);
    </script>
</dom-module>
