<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../uirouter-uiview.html">
<dom-module id="bar-comp">
    <template>
        <style>
            em{
                background-color: #dddddd;
            }

        </style>

        <h1>Bar component</h1>

        <div style="padding: 10px">
            Another <em>ui-router-view</em> element lives here
            <uirouter-uiview class="inner-ui-view"></uirouter-uiview>
        </div>
    </template>

    <script>
        Polymer({
            is: 'bar-comp',
        });
    </script>
</dom-module>
