<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../uirouter-uiview.html">
<link rel="import" href="../../uirouter-sref.html">
<link rel="import" href="../../uirouter-sref-active.html">
<link rel="import" href="../../demo/views/default-comp.html">
<dom-module id="baz-comp">
    <template>
        <style>
            :host {
                display: block;
            }

            em {
                background-color: #dddddd;
            }

            .active {
                font-weight: bold;
                text-transform: uppercase;
                border-bottom: 2px solid red;
            }

            .route-active {
                font-weight: bold;
                text-transform: uppercase;
                border-bottom: 2px solid blue;
            }

            uirouter-uiview {
                padding: 15px;
                border: 2px dashed green;
                display: block;
            }


        </style>

        <h1>Baz component</h1>

        <p><em>ui-router-view</em> element lives here that will stomp descendant views of `baz`</p>

        <p>[[counter]] [[clock]]</p>

        <uirouter-sref-active>
            <uirouter-sref state="state_a">State A</uirouter-sref>
        </uirouter-sref-active>
        |
        <uirouter-sref-active>
            <uirouter-sref state="state_b">State B</uirouter-sref>
        </uirouter-sref-active>

        <uirouter-uiview component="default-comp"
                         counter="[[counter]]" clock="[[clock]]"
                         pass-downwards="[[passDownwards]]">

        </uirouter-uiview>

    </template>

    <script>
        Polymer({
            is: 'baz-comp',
            properties: {
                passDownwards: {
                    type: Array,
                    value: function () {
                        return ['counter', 'clock']
                    }
                }
            }
        });
    </script>
</dom-module>
