<link rel="import" href="../../polymer/polymer.html">
<dom-module id="foo-comp">
    <template>
        <style>
        </style>

        <h1>"foo-comp" component</h1>

        <p>If <em>uirouter-uiview</em> component had some bindings passed from
            parent you should see them here:</p>
        <p>[[counter]] [[clock]]</p>
    </template>

    <script>

        class FooComp extends Polymer.Element {
            static get is() {
                return 'foo-comp';
            }

            connectedCallback() {
                super.connectedCallback();
                console.log('foo component is attached');
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                console.log('foo component is detached');
            }

        }

        customElements.define(FooComp.is, FooComp);
    </script>
</dom-module>
