<link rel="import" href="../../polymer/polymer.html">
<dom-module id="foo-comp">
    <template>
        <style>
        </style>

        <h1>Foo component</h1>

        <p>If <em>uirouter-uiview</em> component had some bindings passed from parent you should see them here:</p>
        <p>[[counter]] [[clock]]</p>
    </template>

    <script>
        Polymer({
            is: 'foo-comp',

            attached: function () {
                console.log('foo component is attached')
            },
            detached: function () {
                console.log('foo component is detached')
            },
        });
    </script>
</dom-module>
