<link rel="import" href="../../polymer/polymer.html">
<dom-module id="resolve-comp">
    <template>
        <style>
        </style>

        <h1>"resolve-comp" component</h1>

        <p>Resolved `Person` Data</p>
        <p>[[resolvedData]]</p>
    </template>

    <script>

        class ResolveComp extends Polymer.Element {
            static get is() {
                return 'resolve-comp';
            }

            connectedCallback() {
                super.connectedCallback();
                // this.person is being set by `ui-view` from the resolve
                // you can also access this via `uiRouterResolvedData` containing all the resolve keys
                this.resolvedData = JSON.stringify(this.person);
            }
        }

        customElements.define(ResolveComp.is, ResolveComp);
    </script>
</dom-module>
